<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();

            socket.on('updateData', (updatedData) => {
                document.getElementById('message').innerText = updatedData.message;
            });
        });
    </script>
</head>
<body>
    <h1 id="message"><%= message %></h1>
    <% if (typeof user !== 'undefined' && user) { %>
        <h1>Welcome, <%= user.displayName %></h1>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/auth/google">Login with Google</a>
    <% } %>
    
    
</body>
</html>
