<!DOCTYPE html>
<html lang="en">
<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <meta charset="UTF-8">
   <title>Room Watcher</title>
   <script src="/socket.io/socket.io.js"></script>
   <script>
      document.addEventListener('DOMContentLoaded', () => {
    const socket = io();

    socket.on('fileChanged', ({ type, file, content }) => {
        const fileList = document.getElementById('fileList');
        console.log(file);
        var currentUrl = window.location.href;
        var urlParts = currentUrl.split('/');
        var filename = urlParts[urlParts.length - 1];
        var mode = 'loud';
        socket.emit('viewFile', filename + ".json");
        console.log(content);

        if (type === 'change' && file.includes(filename)) {
            fileList.innerHTML = '';
            content.forEach(item => {
                if(item.displayName){
                const col = document.createElement('div');
                col.className = "col-md-3 mb-4";
                
                const card = document.createElement('div');
                card.className = "card";

                const cardBody = document.createElement('div');
                cardBody.className = "card-body";

                const cardTitle = document.createElement('h5');
                cardTitle.className = "card-title";
                cardTitle.textContent = item.displayName;
                cardBody.appendChild(cardTitle);
                card.appendChild(cardBody);
                col.appendChild(card);
                fileList.appendChild(col);
                }
                if(item.mode){
                    mode = item.mode;
                }
            });
        }
    });
});

    const socket = io();
    var currentUrl = window.location.href;
    var urlParts = currentUrl.split('/');
    var filename = urlParts[urlParts.length - 1];
    filename = filename.replace(/#/g, "");

    

    function changeMode(mode){
        let div = document.getElementById("currentmode")
        console.log(mode);
        div.innerHTML="Current: "+ mode
        socket.emit('changeMode', mode, filename + ".json");
    }
    function addroominfo(){
        let hiddn = document.getElementById("invis")
        hiddn.value = `${filename}.json`
    }

    function uploadpdf(){
        addroominfo();
        uploadAndProcessFile();
    }

    function uploadAndProcessFile() {
    const formData = new FormData(document.querySelector('form')); 
    const file = formData.get('pdfFile');

    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/uploadpdf');
    xhr.onload = () => {
        if (xhr.status === 200) {
            console.log('File uploaded successfully!');
        } else {
            console.error('Error uploading file:', xhr.responseText);
        }
    };
    xhr.send(formData);
}


   </script>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="btn btn-primary" href="/f" role="button">Back</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Phones Notification Mode
                </button>
                <div id="currentmode">
                    Current: loud
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" onclick="changeMode('loud')">Loud</a></li>
                    <li><a class="dropdown-item" href="#" onclick="changeMode('silent')">Silent</a></li>
                </ul>
            </div>
            <div>
                <form action="/uploadpdf" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="invis" value=""/>
                    <input type="file" name="pdfFile" accept="application/pdf" required/>
                    <button onclick="uploadpdf()">Upload PDF</button>
                  </form>
            </div>
            <% if (typeof user !== 'undefined' && user) { %>
                <h1>Welcome, <%= user.displayName %></h1>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/auth/google"></a>
            <% } %>
        </div>
      </nav>
    
      <div class="container mt-5">
        <div class="row" id="fileList">
            <% if (typeof data !== 'undefined' && data) { %>
            <% data.array.forEach(e => { %>
                <% if (e.name !== null) { %>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= e.name %></h5>
                        </div>
                    </div>
                </div>
                <% } %>
            <% }) %>
            <% } %>
        </div>
    </div>
    
</body>
</html>
